
* {font-family: "Arial", serif;
	display: grid;}

head {display: none;}


.logo {margin: auto;
  	width: auto;
  	padding: 10px;}

.me {grid-column: 2 / 3;}

.work {grid-column: 2 / 3;}

body {background-color: lavender; 
		margin:0;}
	

header {background-color: white; 
			color: red;
			font-size: 200%;
			padding: 30px;}
			

nav {background-color: lightblue;
		font-size: 200%;
		padding:25px;
		color:white;}

main {background-color: cyan; 
		padding: 20px;
		font-size: 100%;}

section {background-color: #b3f6ff; 
			padding: 20px;
			color: black;}

footer {background-color: lightblue;
			color: white;
			font-size: 300%; 
			padding:50px;}

ul {list-style: circle; }
